@tailwind base;
@tailwind components;
@tailwind utilities;

.form-group {
    @apply mb-4;
}

.form-control {
    @apply border border-slate-300 rounded-l px-4 py-2 w-full block focus:border focus:border-slate-900;
}
.form-error {
    @apply text-red-900;
}
.btn-primary {
    @apply border border-slate-900 px-4 py-2 rounded bg-slate-900 text-white hover:bg-slate-800;
}

.loader-spinner {
    @apply h-10 w-10 border-t border-slate-900 rounded-full animate-spin;
}